---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google Fonts: IBM Plex Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <title>
      blog / {frontmatter.title}
    </title>
  </head>

  <style is:global>
    .prose pre {
      @apply border border-neutral-800 p-3 text-neutral-100
    }

    .prose a {
      @apply text-white underline underline-offset-4
    }

    .prose p {
      @apply text-neutral-300 my-2 tracking-wide
    }

    .prose blockquote {
      @apply bg-neutral-800 px-3 py-2 border-l border-neutral-700
    }
  </style>

  <body class="bg-neutral-900 min-h-screen p-5 flex flex-col items-center">
    <div class="flex-1 max-w-[55rem] w-full flex flex-col h-full items-center">
      <Nav />
      <a
        href="javascript:history.back()"
        class="text-white underline underline-offset-4 self-start"
      >
        ← Go back
      </a>
      <div class="flex-1 w-full mt-8">
        <header class="flex flex-col gap-2">
          <h1 class="text-3xl text-white font-semibold font-mono">
            {frontmatter.title}
          </h1>
          <p class="text-neutral-400 leading-relaxed tracking-wide">
            {frontmatter.description}
          </p>
          <p class="text-neutral-500 text-sm font-mono">
            {frontmatter.author} · {frontmatter.date}
          </p>
        </header>
        <hr class="h-px my-8 bg-neutral-200 border-0 dark:bg-neutral-700" />
        <div class="text-neutral-300 flex flex-col gap-4 leading-relaxed prose">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
